<template>
  <v-row align="center">
    <v-col class="pt-1 pb-1" md="2" sm="12">
      <v-col class="pt-1 pb-1">
        <h4>{{ label }}</h4>
      </v-col>
    </v-col>
    <v-col class="pt-1 pb-1" md="2" sm="12">
      <v-switch v-model="day.isOpen" class="ma-4" label="Open"></v-switch>
    </v-col>
    <v-col class="pt-1 pb-1" md="4" sm="12">
      <v-text-field
        outlined
        label="Open"
        :disabled="!day.isOpen"
        v-model="day.from"
      ></v-text-field>
    </v-col>
    <v-col class="pt-1 pb-1" md="4" sm="12">
      <v-text-field
        outlined
        label="Close"
        :disabled="!day.isOpen"
        v-model="day.to"
      ></v-text-field>
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      required: true,
    },
    day: {
      type: Object,
      required: true,
    },
  },
};
</script>
