<template>
  <v-container>
    <v-card class="pa-4">
      <v-row>
        <v-col cols="6" md="6">
          <h2>Business Signup Form</h2>
        </v-col>
        <v-col cols="6" md="6">
          <v-btn
            color="primary"
            class="float-right"
            large
            @click="isModalWizardModalOpen = true"
          >Business Wizard</v-btn>
        </v-col>
        <v-col cols="12">
          <h3>Business Details</h3>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="pt-1 pb-1" md="4" sm="6" xs="12">
          <v-text-field outlined label="Name" v-model="name"></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" class="pt-1 pb-1" md="6" sm="8" xs="12">
          <v-text-field outlined label="Street" v-model="street"></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" class="pt-1 pb-1" md="4" sm="6" xs="12">
          <v-text-field outlined label="City" v-model="city"></v-text-field>
        </v-col>
        <v-col cols="12" class="pt-1 pb-1" md="4" sm="6" xs="12">
          <v-text-field outlined label="State" v-model="state"></v-text-field>
        </v-col>
        <v-col cols="12" class="pt-1 pb-1" md="4" sm="6" xs="12">
          <v-text-field outlined label="Zip" v-model="zipCode"></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" class="pt-1 pb-1" md="4" sm="6" xs="12">
          <v-text-field outlined label="Phone" v-model="phoneNumber"></v-text-field>
        </v-col>
        <v-col cols="12" class="pt-1 pb-1" md="4" sm="6" xs="12">
          <v-text-field outlined label="Website" v-model="website"></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="pt-0">
          <h3>Hours</h3>
        </v-col>
      </v-row>
      <businessHoursRow
        :key="key"
        v-for="key in Object.keys(hours)"
        :label="key"
        :day="hours[key]"
      />
    </v-card>
    <wizardModal
      :isOpen="isModalWizardModalOpen"
      @toggleWizardModal="isModalWizardModalOpen = !isModalWizardModalOpen"
      @setDataFromWizard="setFormData"
    />
  </v-container>
</template>

<script>
import businessHoursRow from "./BusinessHoursRow";
import wizardModal from "./WizardModal";

export default {
  components: {
    businessHoursRow,
    wizardModal
  },
  data: () => ({
    name: "",
    street: "",
    city: "",
    state: "",
    zipCode: "",
    phoneNumber: "",
    website: "",
    hours: {
      Monday: {
        isOpen: false,
        from: "",
        to: ""
      },
      Tuesday: {
        isOpen: false,
        from: "",
        to: ""
      },
      Wednesday: {
        isOpen: false,
        from: "",
        to: ""
      },
      Thursday: {
        isOpen: false,
        from: "",
        to: ""
      },
      Friday: {
        isOpen: false,
        from: "",
        to: ""
      },
      Saturday: {
        isOpen: false,
        from: "",
        to: ""
      },
      Sunday: {
        isOpen: false,
        from: "",
        to: ""
      }
    },
    isModalWizardModalOpen: false
  }),
  methods: {
    setFormData(objGoogleData) {
      this.name = objGoogleData.name;
      this.street = objGoogleData.streetAddress1;
      this.city = objGoogleData.city;
      this.state = objGoogleData.state;
      this.zipCode = objGoogleData.zipCode;
      this.phoneNumber = objGoogleData.phoneNumber;
      this.website = objGoogleData.link;
      if (objGoogleData.hours) {
        if (objGoogleData.hours.Monday) {
          this.hours.Monday.isOpen = objGoogleData.hours.Monday.isOpen;
          this.hours.Monday.from = objGoogleData.hours.Monday.from;
          this.hours.Monday.to = objGoogleData.hours.Monday.to;
        }
        if (objGoogleData.hours.Tuesday) {
          this.hours.Tuesday.isOpen = objGoogleData.hours.Tuesday.isOpen;
          this.hours.Tuesday.from = objGoogleData.hours.Tuesday.from;
          this.hours.Tuesday.to = objGoogleData.hours.Tuesday.to;
        }
        if (objGoogleData.hours.Wednesday) {
          this.hours.Wednesday.isOpen = objGoogleData.hours.Wednesday.isOpen;
          this.hours.Wednesday.from = objGoogleData.hours.Wednesday.from;
          this.hours.Wednesday.to = objGoogleData.hours.Wednesday.to;
        }
        if (objGoogleData.hours.Thursday) {
          this.hours.Thursday.isOpen = objGoogleData.hours.Thursday.isOpen;
          this.hours.Thursday.from = objGoogleData.hours.Thursday.from;
          this.hours.Thursday.to = objGoogleData.hours.Thursday.to;
        }
        if (objGoogleData.hours.Friday) {
          this.hours.Friday.isOpen = objGoogleData.hours.Friday.isOpen;
          this.hours.Friday.from = objGoogleData.hours.Friday.from;
          this.hours.Friday.to = objGoogleData.hours.Friday.to;
        }
        if (objGoogleData.hours.Saturday) {
          this.hours.Saturday.isOpen = objGoogleData.hours.Saturday.isOpen;
          this.hours.Saturday.from = objGoogleData.hours.Saturday.from;
          this.hours.Saturday.to = objGoogleData.hours.Saturday.to;
        }
        if (objGoogleData.hours.Sunday) {
          this.hours.Sunday.isOpen = objGoogleData.hours.Sunday.isOpen;
          this.hours.Sunday.from = objGoogleData.hours.Sunday.from;
          this.hours.Sunday.to = objGoogleData.hours.Sunday.to;
        }
      }
    }
  }
};
</script>

<style scoped>
v-col {
  padding: 0;
}
</style>
