<template>
  <v-row justify="center">
    <v-dialog v-model="isOpen" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">Business Lookup Wizard</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="12" md="6">
                <v-text-field label="Business Name" v-model="name" required></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="6">
                <v-text-field label="Zip Code" v-model="zip"></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            :disabled="isModalLoading"
            text
            @click="searchGooglePlaces"
          >Search</v-btn>
          <v-btn color="blue darken-1" text @click="$emit('toggleWizardModal')">Cancel</v-btn>
        </v-card-actions>
        <div v-if="searchResults.length > 0">
          <v-container>
            <v-row>
              <v-col>
                <h3>Results</h3>
              </v-col>
            </v-row>
            <div v-for="item in searchResults" :key="item.placeId">
              <v-divider></v-divider>
              <v-row>
                <v-col cols="7">
                  {{item.name}}
                  <br />
                  {{item.address}}
                </v-col>
                <v-col cols="4" class="d-flex align-center">
                  <v-btn
                    color="primary"
                    @click="getGooglePlacesBusinessDetails(item.placeId)"
                  >This Is My Business</v-btn>
                </v-col>
              </v-row>
            </div>
          </v-container>
        </div>
        <div class="text-center" v-if="searchResults.length == 0 && noSearchResultsFound">
          <h3>No Search Results Found :(</h3>
        </div>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import axios from "axios";

export default {
  props: {
    isOpen: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    name: "",
    zip: "",
    isModalLoading: false,
    noSearchResultsFound: false,
    searchResults: []
  }),
  methods: {
    async searchGooglePlaces() {
      this.searchResults = [];
      this.isModalLoading = true;
      this.noSearchResultsFound = false;
      if (this.name && this.zip) {
        let { data } = await axios.post(
          "https://<YOUR_FIREBASE_PROJECT_ID>.cloudfunctions.net/searchGooglePlaces",
          {
            businessName: this.name,
            zipCode: this.zip
          }
        );

        if (data && data.length > 0) {
          this.searchResults = data;
        } else {
          this.noSearchResultsFound = true;
        }
      }
      this.isModalLoading = false;
    },
    async getGooglePlacesBusinessDetails(placeId) {
      const res = await axios.post(
        "https://<YOUR_FIREBASE_PROJECT_ID>.cloudfunctions.net/getBusinessDetailsFromGoogle",
        {
          placeId: placeId
        }
      );

      if (res.status === 200) {
        this.searchResults = [];
        this.name = "";
        this.zip = "";
        this.$emit("setDataFromWizard", res.data);
        this.$emit("toggleWizardModal");
        this.isModalLoading = false;
      } else {
        alert("Sorry there was an error");
      }
    }
  }
};
</script>
