<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <h2>Business Signup Wizard</h2>
      </div>

      <v-spacer></v-spacer>
    </v-app-bar>

    <v-content>
      <SignupForm />
    </v-content>
  </v-app>
</template>

<script>
import SignupForm from "./components/SignupForm";
export default {
  name: "App",
  components: {
    SignupForm,
  },
  data: () => ({
    //
  }),
};
</script>
